altair
attrs
azure-ai-language-conversations
azure-ai-language-questionanswering
azure-core
azure-ai-formrecognizer
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
idna
isodate
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mongoengine
narwhals
numpy
openai
packaging
pandas
pillow
protobuf
pyarrow
pydeck
Pygments
pymongo
python-dateutil
python-dotenv
pytz
referencing
requests
rich
rpds-py
six
smmap
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
fpdf
